.App {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 3rem;
}

@media (max-width: 61.25em) {
  .App {
    flex-direction: column;
  }
}

.editor {
  flex-basis: 45%;
  margin-right: 2rem;
  resize: none;
  min-height: 40%;
  height: 95%;
}

.preview {
  flex-basis: 55%;
}
